{% extends "layout.html" %}

{% block title %}Change password{% endblock title %}

{% block content %}
    <h1>Change password</h1>
    <form method="post">
        <div class="input-group w50pc">
            <span class="input-group-addon w150px">Username</span>
            <input type=text name="username" class="form-control" maxlength="{{conf.limit_input_md}}" autofocus>
        </div>

        <div class="input-group w50pc">
            <span class="input-group-addon w150px">Old password</span>
            <input type=password name="old_password" class="form-control" maxlength="{{conf.limit_input_md}}" {{force_type}}>
        </div>

        <div class="input-group w50pc">
            <span class="input-group-addon w150px">New password</span>
            <input type=password name="new_password" class="form-control" maxlength="{{conf.limit_input_md}}" {{force_type}}>
        </div>

        <input type=submit value="Change password" class="btn btn-success btn-lg navbar-btn">
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class=flashes>
                {% for category, message in messages %}
                    <h3><span class="label label-{{category}}">{{message}}</span></h3>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h4><a href="/login">Back to log in</a><h4>
{% endblock content %}

