{% extends "layout_control.html" %}

{% block title %}Manual Control{% endblock title %}

{% block includes %}
    {{ super() }}

    <script src="{{ url_for('static', filename='js/control.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
{% endblock includes %}

{% block content_top %}
    <h1>Manual Control</h1>
    {# Top Navigation Bar #}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <button type="button" id="show-axis-btn" class="btn btn-default navbar-btn active" onclick="show('axis')">Axis</button>
                    <button type="button" id="show-sp-btn" class="btn btn-default navbar-btn" onclick="show('sp')">Single Pipette</button>
                    <button type="button" id="show-mp-btn" class="btn btn-default navbar-btn" onclick="show('mp')">Multiple Pipette</button>
                    <button type="button" id="show-gripper-btn" class="btn btn-default navbar-btn" onclick="show('gripper')">Gripper</button>
                    <button type="button" id="show-tac-btn" class="btn btn-default navbar-btn" onclick="show('tac')">TAC</button>
                    <button type="button" id="show-general-btn" class="btn btn-default navbar-btn" onclick="show('general')">General</button>
                </ul>
            </div>
        </div>
    </nav>
{% endblock content_top %}

{% block content_left_top %}
    <div style="height:255px">
        {# Axis Manual Control Tab #}
        <div id="axis-control" style="display:block">
            <h3>Axis Manual Control</h3>

            {# Dropdown button for relative/absolute motion #}
            <div class="btn-group">
                <button type="button" id="axis_mode" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Relative Movement <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li onclick="select('axis_mode', 'Relative Movement')"><a href="#">Relative Movement</a></li>
                    <li onclick="select('axis_mode', 'Absolute Position')"><a href="#">Absolute Position</a></li>
                </ul>
            </div>

            <br><br>

            {# User input fields #}
            <div class="input-group form-group" style="width:260px">
                <span class="input-group-addon" style="width:130px">X</span>
                <input type="text" id="input-x" class="form-control" placeholder="x mm" maxlength="{{conf.limit_input_sm}}">
            </div>

            <div class="input-group form-group" style="width:260px">
                <span class="input-group-addon" style="width:130px">Y</span>
                <input type="text" id="input-y" class="form-control" placeholder="y mm" maxlength="{{conf.limit_input_sm}}">
            </div>

            <div class="input-group form-group" style="width:260px">
                <div class="input-group-btn">
                    <button type="button" id="z_mode" style="width:130px" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Single Pipette <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li onclick="select('z_mode', 'Single Pipette')"><a href="#">Single Pipette</a></li>
                        <li onclick="select('z_mode', 'Multiple Pipette')"><a href="#">Multiple Pipette</a></li>
                        <li onclick="select('z_mode', 'Gripper')"><a href="#">Gripper</a></li>
                    </ul>
                </div>
                <input type="text" id="input-z" class="form-control" placeholder="z mm" maxlength="{{conf.limit_input_sm}}">
            </div>
        </div>

        {# Single Pipette Manual Control Tab #}
        <div id="sp-control" style="display:none">
            <h3>Single Pipette Manual Control</h3>

            {# User input fields #}
            <div class="input-group form-group" style="width:260px">
                <span class="input-group-addon" style="width:130px">Volume</span>
                <input type="text" id="input-volume-sp" class="form-control" placeholder="&micro;L" maxlength="{{conf.limit_input_sm}}">
            </div>
            <div class="input-group form-group" style="width:260px">
                <span class="input-group-addon" style="width:130px">Speed</span>
                <input type="text" id="input-speed-sp" class="form-control" value={{conf['default_pipette_speed']}} placeholder="&micro;L/s" maxlength="{{conf.limit_input_sm}}">
            </div>
        </div>

        {# Multiple Pipette Manual Control Tab #}
        <div id="mp-control" style="display:none">
            <h3>Multiple Pipette Manual Control</h3>

            {# User input fields #}
            <div class="input-group form-group" style="width:260px">
                <span class="input-group-addon" style="width:130px">Volume</span>
                <input type="text" id="input-volume-mp" class="form-control" placeholder="&micro;L" maxlength="{{conf.limit_input_sm}}">
            </div>
            <div class="input-group form-group" style="width:260px">
                <span class="input-group-addon" style="width:130px">Speed</span>
                <input type="text" id="input-speed-mp" class="form-control" value={{conf['default_pipette_speed']}} placeholder="&micro;L/s" maxlength="{{conf.limit_input_sm}}">
            </div>
        </div>

        {# Gripper Manual Control Tab #}
        <div id="gripper-control" style="display:none">
            <h3>Gripper Manual Control</h3>

            {# User input fields #}
            <div class="input-group form-group" style="width:260px">
                <span class="input-group-addon" style="width:130px">Wrist Angle</span>
                <input type="text" id="input-gripper-wrist" class="form-control" placeholder="-90&ordm; to 90&ordm;" maxlength="{{conf.limit_input_sm}}">
            </div>
            <div class="input-group form-group" style="width:260px">
                <span class="input-group-addon" style="width:130px">Gripper Opening</span>
                <input type="text" id="input-gripper-opening" class="form-control" placeholder="0% to 100%" maxlength="{{conf.limit_input_sm}}">
            </div>
        </div>

        {# TAC Manual Control Tab #}
        <div id="tac-control" style="display:none">
            <h3>TAC Operation Parameters</h3>

            {# User input fields #}
            <div class="input-group form-group" style="width:390px">
                <span class="input-group-addon" style="width:155px">Target Turbidity</span>
                <input type="text" id="input-tac-turb" class="form-control" placeholder="0% to 100%" maxlength="{{conf.limit_input_sm}}">
                <span class="input-group-btn" style="width:0px;"></span>
                <input title='Double-click to change' type="text" id="input-tac-turb-goal" class="form-control" value='On' maxlength="{{conf.limit_input_sm}}" readOnly>
            </div>
            <div class="input-group form-group" style="width:390px">
                <span class="input-group-addon" style="width:155px">Target Temperature</span>
                <input type="text" id="input-tac-temp" class="form-control" placeholder="2&ordm;C to 55&ordm;C" maxlength="{{conf.limit_input_sm}}">
                <span class="input-group-btn" style="width:0px;"></span>
                <input title='Double-click to change' type="text" id="input-tac-temp-goal" class="form-control" placeholder="Post-goal" maxlength="{{conf.limit_input_sm}}">
            </div>
            <div class="input-group form-group" style="width:390px">
                <span class="input-group-addon" style="width:155px">Refresh Rate</span>
                <input type="text" id="input-tac-rate" class="form-control" placeholder="0.5s to 100s" maxlength="{{conf.limit_input_sm}}">
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="text" id="input-tac-rate-goal" class="form-control" placeholder="Post-goal" maxlength="{{conf.limit_input_sm}}">
            </div>
            <div class="input-group form-group" style="width:390px">
                <span class="input-group-addon" style="width:155px">Motor Speed</span>
                <input type="text" id="input-tac-motor" class="form-control" placeholder="0% to 100%" maxlength="{{conf.limit_input_sm}}">
                <span class="input-group-btn" style="width:0px;"></span>
                <input type="text" id="input-tac-motor-goal" class="form-control" placeholder="Post-goal" maxlength="{{conf.limit_input_sm}}">
            </div>
        </div>

        {# General Control Tab #}
        <div id="general-control" style="display:none">
            <h3>General BioBot Utilities</h3>
            <div>
                <button type="button" class="btn btn-warning navbar-btn" onclick="general('reset_tips')">
                    Reset Tips <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-primary navbar-btn" onclick="general('petri_calibration')">
                    Calibrate Pixel Size for Petri Dish <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
{% endblock content_left_top %}

{% block content_right %}
    {# Current platform location #}
    <div class="platform">
        <h3>Current Location</h3>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td>X Axis</td>
                    <td id="cur_x_mm"></td>
                </tr>
                <tr>
                    <td>Y Axis</td>
                    <td id="cur_y_mm"></td>
                </tr>
                <tr>
                    <td>Z0 Axis</td>
                    <td id="cur_z0_mm"></td>
                </tr>
                <tr>
                    <td>Z1 Axis</td>
                    <td id="cur_z1_mm"></td>
                </tr>
                <tr>
                    <td>Z2 Axis</td>
                    <td id="cur_z2_mm"></td>
                </tr>
                <tr>
                    <td>Single Pipette</td>
                    <td id="cur_sp_ul"></td>
                </tr>
                <tr>
                    <td>Multiple Pippete</td>
                    <td id="cur_mp_ul"></td>
                </tr>
                <tr>
                    <td>Gripper Wrist</td>
                    <td id="cur_g_wr"></td>
                </tr>
                <tr>
                    <td>Gripper Opening</td>
                    <td id="cur_g_op"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="module" style="display:none">
        {# TAC options and parameters #}
        <button type="button" class="btn btn-primary tac-graph" onclick="show_tac('status')">Show Status</button>
        <button type="button" class="btn btn-primary tac-status" onclick="show_tac('graph')">Show Graph</button>
        <button type="button" class="btn btn-info tac-param" onclick="toggle_params('post-goal')">Show post-goal parameters</button>
        <button type="button" style="display:none;" class="btn btn-info tac-param-goal" onclick="toggle_params('actual')">Show actual parameters</button>
        <button type="button" class="btn btn-info tac-graph" onclick="export_tac()">Save TAC values to CSV</button>
        <div class="tac-status">
            <h3>Current TAC Status</h3>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr class="tac-param">
                        <td>Target Turbidity</td>
                        <td id="tac-param-turb">N/A</td>
                    </tr>
                    <tr class="tac-param">
                        <td>Target Temperature</td>
                        <td id="tac-param-temp">N/A</td>
                    </tr>
                    <tr class="tac-param">
                        <td>Refresh Rate</td>
                        <td id="tac-param-rate">N/A</td>
                    </tr>
                    <tr class="tac-param">
                        <td>Motor Speed</td>
                        <td id="tac-param-motor">N/A</td>
                    </tr>
                    <tr class="tac-param-goal" style="display:none;">
                        <td>Target Turbidity (post-goal)</td>
                        <td id="tac-param-turb-goal">N/A</td>
                    </tr>
                    <tr class="tac-param-goal" style="display:none;">
                        <td>Target Temperature (post-goal)</td>
                        <td id="tac-param-temp-goal">N/A</td>
                    </tr>
                    <tr class="tac-param-goal" style="display:none;">
                        <td>Refresh Rate (post-goal)</td>
                        <td id="tac-param-rate-goal">N/A</td>
                    </tr>
                    <tr class="tac-param-goal" style="display:none;">
                        <td>Motor Speed (post-goal)</td>
                        <td id="tac-param-motor-goal">N/A</td>
                    </tr>
                    <tr>
                        <td>Turbidity calibration : 0%</td>
                        <td id="cur_turb_0">N/A</td>
                    </tr>
                    <tr>
                        <td>Turbidity calibration : 100%</td>
                        <td id="cur_turb_100">N/A</td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td id="cur_tac_temp">N/A</td>
                    </tr>
                    <tr>
                        <td>Turbidity</td>
                        <td id="cur_tac_turb">N/A</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tac-graph" style="width:600px;">
            <h3>TAC Graph</h3>
            <div id="tac-graph-temp" width="600" height="200"></div>
            <div id="tac-graph-turb" width="600" height="200"></div>
        </div>
    </div>

    <!-- Load after TAC Graph is created -->
    <script src="{{ url_for('static', filename='js/control_tac.js') }}"></script>
{% endblock content_right %}

{% block content_left_bottom %}
    <div class="platform">
        {# Move button #}
        <button type="button" id="move-btn" class="btn btn-success btn-lg navbar-btn" onclick="move()">
            <strong>Move <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></strong>
        </button>

        <br>

        {# Home buttons #}
        <div class="btn-group">
            <button type="button" class="btn btn-primary" onclick="home(['XY', 'Z', 'SP', 'MP'{#, 'G'#}])">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Homing
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="position:relative;margin-top:36px;margin-left:-107px">
                <li onclick="home(['XY'])"><a href="#">XY Axis</a></li>
                <li onclick="home(['Z'])"><a href="#">Z Axis</a></li>
                <li onclick="home(['SP'])"><a href="#">Single Pipette</a></li>
                <li onclick="home(['MP'])"><a href="#">Multiple Pipette</a></li>
                <li onclick="home(['G'])"><a href="#">Gripper</a></li>
            </ul>
        </div>
    </div>
    <div class="module">
        {# Send parameters, start calibration and start TAC buttons #}
        <div>
            <button type="button" class="btn btn-primary navbar-btn" onclick="send_tac('config')">
                Send Parameters <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-primary navbar-btn" onclick="send_tac('calibrate_0')">
                Start Calibration <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            </button>
        </div>
        <div id="start-tac" style="display:none;">
            <button type="button" class="btn btn-success btn-lg navbar-btn" onclick="send_tac('start')">
                <strong>Start TAC <span class="glyphicon glyphicon-play" aria-hidden="true"></span></strong>
            </button>
            <button type="button" class="btn btn-danger btn-lg navbar-btn" onclick="send_tac('stop')">
                <strong>Stop TAC <span class="glyphicon glyphicon-stop" aria-hidden="true"></span></strong>
            </button>
        </div>
    </div>
{% endblock content_left_bottom %}

