{% extends "layout.html" %}

{% block title %}dataset{% endblock title %}

{% block includes %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/FileSaver.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jsoneditor.js') }}"></script>
{% endblock includes %}

{% block content %}
    <h1>dataset</h1>
    <button onclick="save_deck()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
    <button class="btn btn-primary btn-file"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Open<input id="open-deck" type="file" accept=".json"></button>
    <button onclick="send_deck()" class="btn btn-primary"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send</button>


    <script src="{{ url_for('static', filename='js/deck_editor.js') }}"></script>
{% endblock content %}
