{% extends "layout.html" %}

{% block includes %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/resize_img.js') }}"></script>
{% endblock includes %}

{% block content %}
    <h1>IVI Annotator Instructions</h1>
    <!--<img class="img-responsive" id="resize-img" src="{{ url_for('static', filename='img/logoIvi.png') }}" alt="Logo IVI">-->
    <!--<h1>Important notice!!</h1>-->
    <h2>1 - Log In</h2>
    <h2>2 - Use your credentials or create an account (The account will be validated by an administrator)</h2>
    <h2>3 - Use the Annotator tab to go to the annotator interface</h2>
    <h2>4 - Annotate the image, then click Export to send the result and start another image</h2>
    <h2>5 - Log out when you’re done</h2>
    <h3>Important notice!!</h3>
    <h3>The Firefox web browser should be used (Compatibility issues with Chrome, IE and Safari)</h3>

{% endblock content %}
