{% extends "layout_logs.html" %}

{% block includes %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.dataTables.columnFilter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jszip.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
{% endblock includes %}

{% block content_main %}
    <div class="table-responsive" style="overflow:visible">
        <table>
            <tr>
                <td valign="top">
                    <div class="container-fluid row" style="min-width:200px">
                        {% block content_left %}
                            {# Dropdown menu with steps #}
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Step {{current}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for step in steps %}
                                        {% if step == current %}
                                            <li><a href="#">Step {{step}}</a></li>
                                        {% else %}
                                            <li><a href="{{'{}/{}'.format('/'.join(request.url.split('/')[:-1]), step)}}">Step {{step}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endblock %}
                    </div>
                </td>
                <td valign="top">
                    {# Pictures carousel to show raw and analyzed Petri dish pictures #}
                    <div class="container-fluid row">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                {% for i in range(pictures|length) %}
                                    <li data-target="#myCarousel" data-slide-to="{{i}}" {% if i == 0 %}class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                {% for pic in pictures %}
                                    <div class="item {{'active' if pic == pictures[0]}}">
                                        {{get_bca_picture(pic['filename'], protocol, current,
                                          tags='style="height:{0}px;width:{1}px"'.format(conf.cam_2d_height/conf.bca_factor,
                                                                                         conf.cam_2d_width/conf.bca_factor))}}
                                        <div class="carousel-caption">
                                            <h3>{{pic['title']}}</h3>
                                            <p>{{pic['description']}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="container-fluid row">
        {% block content_bottom %}{% endblock %}
    </div>
{% endblock content_main %}

