{# Main Annotator layout page #}

<!DOCTYPE html>
<html lang="en">
    <head>
        {# Title #}
        <title>Annotator</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        {# Introlab Icon #}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/introlab.png') }}">
        <link rel="preload" href="{{ url_for('static', filename='data/example.json') }}">

        {% block includes %}
            {# Bootstrap CSS files #}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}">

            {# Custom CSS #}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-sidebar.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/annotator.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-dialog.min.css') }}">


            {# Bootstrap JavaScript files #}
            <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

            {# Custom JS #}
            <script src="{{ url_for('static', filename='js/sidebar_menu.js') }}"></script>
            <script src="{{ url_for('static', filename='js/eventemitter2.js') }}"></script>
            <script src="{{ url_for('static', filename='js/roslib.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap-dialog.min.js') }}"></script>
        {% endblock includes %}



    </head>

    <body style="padding-bottom: 125px;">
        {# Top of the page menu bar #}
        <nav class="navbar navbar-default no-margin">
        {# Brand and toggle get grouped for better mobile display #}
            <div class="navbar-header fixed-brand">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                    <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" href="/"><p><img src="{{ url_for('static', filename='img/introlab.png') }}" alt="Logo Introlab" height="40" width="40"> <span style="color:#000; font-weight: bold;"></span> Annotator</p></a>
            </div> {# navbar-header#}

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button></li>
                </ul>

                {# Log in status #}
                <div class="nav navbar-nav navbar-right container-fluid" style="padding-top:3px">
                    {% if not current_user.is_authenticated %}
                        <a href="{{'/login?next=' + request.path}}"><button type="button" class="btn btn-info navbar-btn active">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Log in
                        </button></a>
                    {% else %}
                        <span class="label label-primary lb-md">Logged in as {{current_user.get_id()}}</span>
                        <a href="/logout"><button type="button" class="btn btn-info navbar-btn active">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Log out
                        </button></a>
                    {% endif %}
                </div>
            </div> {# bs-navbar-collapse-1 #}
        </nav>

        <div id="wrapper">
            {# Sidebar #}
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                    {{ format_sidebar('Home', 'home', 'home') }}
                    {{ format_sidebar('Annotator', 'edit', 'annotator') }}
                    {% if current_user.is_authenticated and current_user.is_admin() %}
                        {{ format_sidebar('Dataset', 'th', 'dataset') }}
                        {{ format_sidebar('Logs', 'search', 'logs') }}
                        {{ format_sidebar('Manage Users', 'tasks', 'manage_users') }}


                    {% endif %}
                </ul>
            </div> {# sidebar-wrapper #}

            <div id="page-content-wrapper">
                <div class="container-fluid row xyz">
                    {# Page Content #}
                    {% block content %}{% endblock %}
                </div>
            </div>
            {# page-content-wrapper #}
        </div>
    </body>
</html>
