{% extends "layout.html" %}
{# This template subdivides 'content' block into four
   sub-content blocks (top, left_top, right and left_bottom):

   [     TOP     ]
   [LEFT_T][RIGHT]
   [LEFT_B][RIGHT]
#}

{% block includes %}
    {{super()}}
    <style>h3 {margin-top: 0px;}</style>
{% endblock includes %}

{% block content %}
    <div class="container-fluid row">
        {% block content_top %}{% endblock %}
    </div>
    <div class="table-responsive" style="min-width:500px;overflow:visible">
        <table>
            <tr>
                <td valign="top">
                    <div class="container-fluid row" style="min-width:450px">
                        <table>
                            <tr>{% block content_left_top %}{% endblock %}</tr>
                            <tr>{% block content_left_bottom %}{% endblock %}</tr>
                        </table>
                    </div>
                </td>
                <td valign="top">
                    <div class="container-fluid row" style="min-width:125px">
                        {% block content_right %}{% endblock %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}

