{% extends "layout_logs.html" %}

{% block content_main %}
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" style="min-width:8em;width: {{100*done/started}}%;">
        <strong>{{"{0}/{1} steps done ({2:.2f}%)".format(done, started, 100*done/started)}}</strong>
      </div>
    </div>

    <h3>Raw protocol</h3>
    <a href="data:text/json;charset=utf-8,{{json_protocol|urlencode}}" download="{{protocol}}.json">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save protocol</button>
    </a>

    <p>{{json_protocol|nl2br}}</p>
{% endblock content_main %}

