{% extends "layout_analysis.html" %}

{% block content_left %}
    {{super()}}

    {# Display picking criterias #}
    <div style="margin-top:15px;margin-right:15px">
        <table class="table table-bordered">
            <tr><th colspan=2>Desired colony characteristics of {{characteristics['pick_num']}}</th></tr>
            <tbody>
                <tr>
                    <td>Number of colonies</td>
                    <td>{{characteristics['nb_col']}}</td>
                </tr>
                {% for criteria in characteristics['criterias'] %}
                    <tr><td>{{criteria[0]}}</td><td>{{criteria[1]|safe}}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content_left %}

{% block content_bottom %}
    <h3>Bacterial colonies characteristics</h3>
    <table id="table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Color</th>
                <th>Area (mm<sup>2</sup>)</th>
                <th>Perimeter (mm)</th>
                <th>Excentricity</th>
                <th>X coordinate (mm)</th>
                <th>Y coordinate (mm)</th>
                <th>Selected</th>
            </tr>
        </thead>
        <tbody>
            {% for colony in colonies %}
                <tr>
                    <td>{{colony['id']}}</td>
                    <td><span class="glyphicon glyphicon-stop" aria-hidden=true title="{{colony['color']}}" style="color:{{colony['color']}}"></span> {{colony['color_text']}}</td>
                    <td>{{"{0:.2f}".format(colony['area'])|float}}</td>
                    <td>{{"{0:.2f}".format(colony['perimeter'])|float}}</td>
                    <td>{{"{0:.2f}".format(colony['excentricity'])|float}}</td>
                    <td>{{"{0:.2f}".format(colony['y'])|float}}</td>
                    <td>{{"{0:.2f}".format(-colony['x'])|float}}</td>
                    {% if colony['selected'] == 1 %}
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span style="display:none">Yes</span></td>
                    {% else %}
                        <td><span style="display:none">No</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
            var table = $('#table').dataTable({
                dom: '<"row"<"col-sm-4"l><"col-sm-4"B><"col-sm-4"f>><"row"<"col-sm-12"tr>><"row"<"col-sm-5"i><"col-sm-7"p>>',
                "lengthMenu": [[5, 25, 100, -1], [5, 25, 100, "All"]],
                buttons: [{
                    extend: 'excel',
                    text: 'Export to Excel',
                    filename: '{{"{}_{}".format(protocol, pick_num)}}',
                    className: 'btn btn-success btn-sm',
                    header: true
                }]
            }).columnFilter({
                sPlaceHolder: "head:before",
                {# Allow filtering on colors and select status #}
                aoColumns:[
                    null,
                    {type: "select", values: {{colors|safe}}},
                    null,
                    null,
                    null,
                    null,
                    null,
                    {type: "select", values: ["Yes", "No"]}
                ]
            });
            table.on('draw.dt', setHeightSidebar);
        });
    </script>
{% endblock content_bottom %}

