{% extends "layout_data.html" %}

{% block title %}Biological Protocol{% endblock title %}

{% block includes %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/FileSaver.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jsoneditor.js') }}"></script>
{% endblock includes %}

{% block content %}
    <h1>Biological Protocol</h1>
    <button onclick="save_protocol()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save protocol</button>
    <button class="btn btn-primary btn-file"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Open protocol<input id="open-protocol" type="file" accept=".json"></button>
    <button onclick="start_protocol()" class="btn btn-primary"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Start protocol</button>

    {# General protocol information input boxes #}
    <h3>Reference information</h3>
    <div class="input-group w75pc">
        <span class="input-group-addon w150px">Name</span>
        <input type=text id="protocol_name" class="form-control" maxlength="{{conf.limit_input_md}}">
    </div>
    <div class="input-group w75pc">
        <span class="input-group-addon w150px">Author</span>
        <input type=text id="protocol_author" class="form-control" maxlength="{{conf.limit_input_md}}" value="{{current_user.get_id()}}">
    </div>
    <div class="input-group w75pc">
        <span class="input-group-addon w150px">Description</span>
        <textarea id="protocol_description" class="form-control" style="resize:vertical;" cols="40" rows="3" maxlength="{{conf.limit_textarea_sm}}"></textarea>
    </div>

    {# Show currently validated labware #}
    <div class="w75pc">
        <h3>Validated Labware</h3>
        <table id="table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for item in labware %}
                    <tr>
                        <td>{{item['name']}}</td>
                        <td>{{item['type'].replace('_', ' ').title()}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {# Instructions JSON Editor #}
    <div class="container-fluid row">
        <div id="instructions_holder"></div>
    </div>

    <script>
        $(document).ready(function() {
            var table = $('#table').DataTable({
                "dom": "lrtip",
                "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]]
            });
            table.on('draw.dt', setHeightSidebar);
        });
    </script>
    <script>var operator = '{{current_user.get_id()}}';</script>
    <script src="{{ url_for('static', filename='js/protocol_editor.js') }}"></script>
{% endblock content %}
